#root-pane {
    -fx-background-color: white;
}

/* music table */

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.table-view:focus {
    outline: none;
}

/* user lists */

/* make the list view fully transparent */
.list-cell {
    -fx-background-color: transparent;
}
.list-view {
    -fx-background-color: transparent;
}