/* global styles */
* {
	-fx-color-white: #FFFFFF;
	-fx-color-black: #181818;
	-fx-color-gray: #E8E8E8;
	-fx-color-purple: #8A2BE2;
	-fx-color-purple-background: #E8D5F9;
	-fx-color-red: #D22D37;
}

.separator .line {
	-fx-border-color: null;
	-fx-pref-height: 1;
}

/* primary color controls style */
.input-primary {
	-fx-color: -fx-color-purple;
	-fx-prompt-text-fill: derive(-fx-color-purple,65%);
	-fx-text-fill: -fx-color-purple;
	-fx-font-weight: bold;
	-fx-border-width: 1px;
	-fx-border-color: -fx-color-purple;
	-fx-background-color: -fx-color-purple-background;
	-fx-border-radius: 4px;
}

.search-field {
    -fx-background-image:url('../img/search-icon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

.icon-button {
    -fx-background-color: -fx-color-purple;
    -size: 20;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.download-icon {
    -fx-shape: "M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z";
}

/* light controls styles */
.input-light {
	-fx-border-color: -fx-color-black;
	-fx-background-color: -fx-color-gray;
	-fx-border-width: 1px;
}

.button-light, .button-light * {
	-fx-color: -fx-color-white;
	-fx-background-color: -fx-color-purple;
	-fx-text-fill: -fx-color-white;
	-fx-font-weight: bold;
	-fx-background-radius: 0;
}

.date-picker.input-light .text-field {
    -fx-control-inner-background: -fx-color-gray;
}

/* dark controls styles */
.separator-dark .line {
	-fx-background-color: -fx-color-black;
}

/* reusable styles */
.h1 {
	-fx-font-size: 18px;
	-fx-font-weight: bold;
}

.link {
	-fx-text-fill: -fx-color-purple;
	-fx-font-weight: bold;
	-fx-underline: true;
	-fx-cursor: hand;
}

.button {
	-fx-cursor: hand;
}

.submit-button {
	-fx-min-height: 30;
	-fx-min-width: 175;
	-fx-background-radius: 50;
	-fx-font-weight: bold;
}

.icon-medium {
    -fx-fit-width: 100;
    -fx-fit-height: 100;
    -fx-preserve-ratio: true;
}

.error {
    -fx-text-fill: -fx-color-red;
}